body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.leaderboardRank,
.leaderboardName,
.leaderboardPoint {
    border: 1px solid;
    padding-left: 2%;
    padding: 2%;
    margin: 0;
}

.leaderboardRank {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: 100vh;
    align-items: center;
}

#score {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

#leaderboardSide {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    margin-left: 5%;
}

#cookieSide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cookieBorder {
    background-color: #4a271f;
    padding: 2%;
    width: 100%;
}
#cookieInside {
    background-color: #a56141;
    width: 300px;
    height: 300px;
}